* {margin:0;padding:0;} 

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 75px;}  /* must be same height as the footer */

#footer {position: relative;
	padding-top: 25px;
	margin-top: -75px; /* negative value of footer height */
	height: 75px;
	clear:both;
	background-color: black;
	color: white;
} 

#categories input {
	margin-left: 20px;
}

.chart div {
	font: 20px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	height: 50px;
}

