#categories input {
	margin-left: 20px;
}

.chart div {
	font: 20px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	height: 50px;
}

footer {
	margin-top: 25px;
	padding-top: 25px;
	background-color: black;
	color: white;
}
